.videoFrame {
  position: relative;
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  height: 270px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  // background-color: #01989f;
  // border: 5px solid #01989f;
  background-color: #3b4a5c7a;
  backdrop-filter: blur(5px);
  margin: auto;
  margin-bottom: 15px;

  .tagContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 5px;
    height: 40px;
    width: 95%;
    gap: 10px;
    .tag {
      position: relative;
      z-index: 1;
      max-width: 150px;
      /* width: 100px !important; */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .mediaContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    align-items: center;
    margin: 5px;
    height: 40px;
    width: 93%;
    margin-top: auto;
    gap: 10px;
    z-index: 1;
    .userName {
      color: whitesmoke;
      padding: 5px 15px;
      background-color: #3b4a5c7a;
      backdrop-filter: blur(5px);
      border-radius: 15px;
      text-transform: capitalize;
      max-width: 150px;
      /* width: 100px !important; */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .soundMeterContainer {
    position: relative;
    z-index: 1;
    width: 95%;
    height: 70%;
    display: flex;
    justify-content: end;
    overflow: hidden;
    // border-radius: 20px;
  }
  .video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    background: transparent;
  }
  .altContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    .altImage {
      margin-top: 19px;
      max-width: 200px;
      height: auto;
    }
  }
  .remoteIcon {
    position: relative;
    color: red;
    font-size: 25px;
    opacity: 0.5;
  }
}
