.videoFrame {
  position: relative;
  width: 400px;
  height: 300px;
  background-color: seagreen;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  background-color: black;
  /*transform: scaleX(-1); Flip horizontally because the share screen breaks */
}
.acitons {
  width: 100%;
  height: auto;
  margin-top: auto;
  /* margin-bottom: 10px; */
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding-inline: 20px;
  background-color: rgba(0, 0, 0, 0.46);
  backdrop-filter: blur(10px);
  padding-block: 10px;
}
.icon {
  position: relative;
  color: white;
  font-size: 40px;
  cursor: pointer;
  opacity: 0.5;
}
.icon:hover {
  opacity: 1;
}
.icon.danger {
  opacity: 1;
  color: red;
}
.icon.active {
  opacity: 1;
  color: seagreen;
}
.alt {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
