.videoFrame {
  position: relative;
  width: 400px;
  height: 270px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #3b4a5c7a;
  backdrop-filter: blur(10px);
}
.video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  background: transparent;
}
.acitons {
  width: 100%;
  height: auto;
  margin-top: auto;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding-inline: 20px;
  /* background-color: rgba(0, 0, 0, 0.46); */
  backdrop-filter: blur(10px);
  padding-block: 10px;
}
.button {
  margin-bottom: 10px;
}

.icon {
  position: relative;
  color: white;
  font-size: 40px;
  cursor: pointer;
  opacity: 0.5;
}
.icon:hover {
  opacity: 1;
}
.icon.danger {
  opacity: 1;
  color: red;
}
.icon.active {
  opacity: 1;
  color: seagreen;
}
.altContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.altImage {
  margin-top: 19px;
  width: 200px;
}
.tagContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin: 5px;
  height: 40px;
  width: 95%;
  gap: 10px;
}
.tag {
  position: relative;
  z-index: 1;
  max-width: 150px;
  /* width: 100px !important; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* share screen styles */
.containerrr {
  border: 3px black solid;
  overflow: hidden;
  border-radius: 10px;
}
.videoShare {
  width: 100%;
  height: 500px;
}
